[Unit]
Description=Run YMarket Data Collection periodically

[Timer]
OnCalendar=Mon..Fri *-*-* 18:00:00
Persistent=true

[Install]
WantedBy=timers.target
